header {
   background-color: #996DA6;
 }
 h1{
   color: rgb(50, 11, 84);
   font-size: 60px;
 }
 body {
   font-size: 20px;
 }
 body div {
   font-size: 10px;
 }
 main{
   background-color:#DBEF9B	;
 }
 footer{
   background-color: #FBF7A2;
   font-size: 20;
 }